.section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100svh;
}

.skill {
  position: absolute;
  transition: transform 0.1s ease;
  opacity: 0;
}

@media screen and (max-width: 650px) {
  .skill {
    margin-bottom: 20rem;
  }
}
