.section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100svh;
  font-family: Courier New;
}

.my-name {
  font-size: 4rem;
  text-align: center;
  margin: 0 10px;
}

.bio {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 4rem;
}

.link {
  width: fit-content;
  height: fit-content;
  padding: 0;
}

.contact-img {
  width: auto;
  height: 3rem;
  margin: 0;
}

.contact-icon {
  width: auto;
  height: 2.5rem;
}

@media screen and (max-width: 650px) {
  .my-name {
    font-size: 3rem;
  }

  .bio {
    max-width: 80%;
  }
}